* {
    margin: 0px;
    padding: 0px;
}

.clearFix {
    float: none;
    clear: both;
}

#container {
    width: 70%;
    background-color: red;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

header {
    width: 100%;
    height: 150px;
    background-color: lightskyblue;
    color: #333;
    line-height: 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    width: 25%;
    min-height: 700px;
    float: left;
    background-color: #ccc;
    text-align: center;
    line-height: 700px;
}

#articles {
    width: 75%;
    min-height: 700px;
    float: left;
    background-color: lemonchiffon;

}

#articles article {
    width: 25%;
    height: 150px;
    background-color: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 15px;
}

/* RESPONSIVE - MEDIA QUERIES */

/* Desde la anchura 0px has ta la anchura 888px de la pantalla, se ecutaran estos estilos */
@media (max-width: 888px) {
    #articles article {
        width: 40%;
        background-color: red;
    }
}

/* Desde la anchura 0px has ta la anchura 632 de la pantalla, se ecutaran estos estilos */
@media (max-width: 632px) {

    #container {
        overflow: hidden;
    }
    
    aside {
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 91%;
        padding: 19px;
    }

    #articles {
        width: 100%;
    }

    #articles article {
        width: 90%;
        background-color: blue;
    }
}

@media (max-width: 554px) {
    body {
        background-color: salmon;
    }
}